.App {
  text-align: center;
  color: white;
  font-size: .9rem;
}

.header {
  height: 20vh;
  background: blue;
}

.body {
  height: 68vh;
  background: grey;
}

.footer {
  height: 12vh;
  background: blue;
}
